#app{
    height: 100vh;
}
.action-post-icon:hover{
    cursor: pointer;
    color: #1890ff
}
.action-post-icon{
    font-size: 20px;
  }
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }